$accent_primary: #835afd;
$accent_secondary: #e559f9;
$bg_primary: #f8f8f8;
$color_primary: #29292e;

$accent_primary_dark: #835afd;
$accent_secondary_dark: #e559f9;
$bg_primary_dark: #22272e;
$color_primary_dark: #adbac7;